**/~*
/*.svg
!example.svg
**/build
.vscode/ipch
**/*.blg
**/*.bbl
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.synctex.gz
**/*.sys*
**/*.inf
**/*.rev
**/*.ext
**/*.inf.fil
*_bk
gmon.out
callgrind.out*
gprof2dot.py
example/*.pos
example/*.s*
smashpp
smashpp.exe
paper/sup.synctex(busy)
.vscode/settings.json
.Rproj.user
result/mit.ent
result/.Rhistory
result/.RData
result/r.t.pos
result/other/HS12_PT12_mauve
mauve/mauve_installer_20150226.exe
mauve/mauve_snapshot_2015-02-13/ext
mauve/mauve_snapshot_2015-02-13/ChangeLog.html
mauve/mauve_snapshot_2015-02-13/COPYING
mauve/mauve_snapshot_2015-02-13/Mauve
mauve/mauve_snapshot_2015-02-13/Mauve.jar
mauve/mauve_snapshot_2015-02-13/README

# experiment/dataset/mammalia/Homo_sapiens/**
# experiment/dataset/mammalia/Pan_troglodytes/**