**/build
.vscode/ipch
diogo/*
*.svg
**/*.blg
**/*.bbl
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.synctex.gz
goose-*
*_bk
GeCo
gmon.out
callgrind.out*
HS18.fa
b
ac
r
t
r-t.pos
gprof2dot.py
0.*
RefS.TarS.pos
example/*.pos
example/*.s*
Makefile
0.*
1.*
smashpp.exe
gdb.exe.stackdump
smashpp.exe
.Rproj.user
smashpp.exe.stackdump
smashpp.exe
